<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Registration</h1>
<div>
    <form th:method="POST"
          th:object="${information}"
          th:action="@{/registration}">
    <input type="text" th:field="*{username}">
    <input type="text" th:field="*{password}">
    <input type="text" th:field="*{email}">
    <input type="checkbox" th:each="role : ${roles}"
           th:field="*{roles}"
           th:text="${role.getName().replace('ROLE_', ' ')}"
           th:value="${role.getId()}">
        <input type="submit" value="submit">
    </form>
</div>
</body>
</html>
